qemu

cryptoapi/**/bin
cryptoapi/**/lib

cryptoapi/ta/.hello_world_ta.o.cmd
cryptoapi/ta/.hello_world_ta.o.d
cryptoapi/ta/.ta_entry_a32.o.cmd
cryptoapi/ta/.ta_entry_a32.o.d
cryptoapi/ta/.ta.ld.d
cryptoapi/ta/.user_ta_header.o.cmd
cryptoapi/ta/.user_ta_header.o.d
cryptoapi/ta/b7747463-bebd-4662-9d5b-7f759cf3100b.dmp
cryptoapi/ta/b7747463-bebd-4662-9d5b-7f759cf3100b.elf
cryptoapi/ta/b7747463-bebd-4662-9d5b-7f759cf3100b.map
cryptoapi/ta/b7747463-bebd-4662-9d5b-7f759cf3100b.stripped.elf
cryptoapi/ta/b7747463-bebd-4662-9d5b-7f759cf3100b.ta
cryptoapi/ta/dyn_list
cryptoapi/ta/ta_entry_a32.o
cryptoapi/ta/ta.lds
cryptoapi/ta/user_ta_header.o
